@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/************** MEDIEVAL WARRIOR *************/
/* https://www.freesoundeffects.com/cat/impacts-181/ */
@font-face {
    font-family: Letratop;
    src: url(LetraMedieval.ttf);
}

* {
    font-family: Letratop;
}

.persanajes {
    margin-top: 10%;
    margin-left: 5%;

}

.cartaMedieval {

    margin: auto;
    margin-bottom: 10%;
    height: 440px;
    width: 300px;
    background-color: rgb(157, 179, 219);
    color: rgb(255, 255, 255);
    border-radius: 10%;
}

.textoGuerrero {
    font-size: 15px;
    text-align: center;
    background-color: white;

}

.botonGuerrero {
    height: 40px;
    width: 300px;
    background-color: rgb(122, 114, 40);
    color: rgb(255, 255, 255);
    transition: 1s;
}

.botonGuerrero:hover {
    font-size: 180%;
    transition: 1s;
}

.cartaMedieval:hover {
    background-color: rgb(54, 103, 194);
    color: rgb(54, 103, 194);
}

.MedievalWarriorParado {

    zoom: 180%;
    height: 137px;
    width: calc(1104px/6);
    max-width: calc(1104px/6);
    max-height: 137px;
    background: url(assets/Medieval_Warrior/MedievalWarrior_PARADO.png);
    animation: MedievalWarriorANDAR 0.7s steps(6) infinite;
}

@keyframes MedievalWarriorANDAR {

    from {

        background-position: 0;
    }

    to {

        background-position: -1104px;

    }
}


.MedievalWarriorEstatico {
    zoom: 180%;
    height: 137px;
    width: calc(1104px/6);
    max-width: calc(1104px/6);
    max-height: 137px;
    background: url(assets/Medieval_Warrior/MedievalWarrior_PARADO.png);
    animation: MedievalWarriorANDAR 0.7s steps(1) none;
}

.MedievalWarriorEstatico:hover {
    zoom: 180%;
    height: 137px;
    width: calc(1104px/6);
    max-width: calc(1104px/6);
    max-height: 137px;
    background: url(assets/Medieval_Warrior/MedievalWarrior_PARADO.png);
    animation: MedievalWarriorANDAR 0.7s steps(6) infinite;
}


.MedievalWarriorCorriendo {

    zoom: 180%;
    position: relative;
    height: 137px;
    max-height: 137px;
    width: calc(1472px/8);
    max-width: calc(1472px/8);
    background: url(assets/Medieval_Warrior/MedievalWarrior_CORRER.png);
    animation: MedievalWarriorCorriendo 0.7s steps(8) infinite;
}

@keyframes MedievalWarriorCorriendo {

    from {

        background-position: 0;
    }

    to {

        background-position: -1472px;

    }
}

.MedievalWarriorAtacando {

    zoom: 180%;
    position: relative;
    height: 137px;
    max-height: 137px;
    width: calc(736px/4);
    max-width: calc(736px/4);
    background: url(assets/Medieval_Warrior/MedievalWarrior_ATACAR.png);
    animation: MedievalWarriorAtacando 0.7s steps(4) infinite;
}

@keyframes MedievalWarriorAtacando {

    from {

        background-position: 0;
    }

    to {

        background-position: 736px;

    }
}

/************** MINOTAURO *************/


.cartaMinotauro {

    padding-top: 120%;
    height: 440px;
    width: 300px;
    background-color: rgb(157, 179, 219);
    color: rgb(255, 255, 255);
    border-radius: 10%;
    margin-left: 50%;
    margin-top: 0%;

}

.textoMinotauro {
margin-top: -30%;
    text-align: center;
    background-color: white;

}

.botonMinotauro {

    height: 40px;
    width: 300px;
    background-color: rgb(122, 114, 40);
    color: rgb(255, 255, 255);
    transition: 1s;

}

.botonMinotauro:hover {

    font-size: 180%;
    transition: 1s;

}

.cartaMinotauro:hover {
    background-color: rgb(54, 103, 194);
    color: rgb(54, 103, 194);
}

.minotauroAtacando {
    
    zoom: 300%;
    position: relative;
    height: 70px;
    width: calc(854px/9);
    background: url(assets/Minotauro/MinotaurO_ATACAR.png);
    animation: MinoTauroAtacando 1s steps(9) infinite;
}

@keyframes MinoTauroAtacando {

    from {

        background-position: 0;
    }

    to {

        background-position: -865px;

    }
}

.minotauroCorriendo {
    zoom: 300%;
    position: relative;

    height: 70px;
    width: calc(474px/5);
    background: url(assets/Minotauro/Minotauro_ANDAR.png);
    animation: minoTauroCorriendo 0.5s steps(5) infinite;
}

@keyframes minoTauroCorriendo {

    from {

        background-position: 0;
    }

    to {

        background-position: -480px;

    }
}

.espacio {


    height: 100px;

}

.minotauroParado {
    
    zoom: 300%;
    position: relative;
    height: 67px;
    width: calc(474px/5);
    background: url(assets/Minotauro/Minotauro_PARADO.png);
    animation: MinotauroParado 0.7s steps(5) infinite;
}



@keyframes MinotauroParado {

    from {

        background-position: 0;
    }

    to {

        background-position: -480px;

    }
}


.minotauroEstatico {
    zoom: 180%;
    margin-left: 30%;
    
    position: relative;
    height: 67px;
    width: calc(474px/5);
    background: url(assets/Minotauro/Minotauro_PARADO.png);
    animation: MinotauroParado 0.7s steps(1) none;
}

.minotauroEstatico:hover {
    zoom: 180%;
    margin-left: 30%;
    position: relative;
    height: 67px;
    width: calc(474px/5);
    background: url(assets/Minotauro/Minotauro_PARADO.png);
    animation: MinotauroParado 0.7s steps(5) infinite;
}


/* FOOTER */
.tituloImagen1 {
    display: flex;
    float: left;


}

.tituloImagen2 {

    float: right;

}

.tituloTexto {

    text-align: center;
    font-family: Letratop;
    font-size: 60px;

}

#vistaPrevia {
    
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    max-height: 440px;
    max-width: 300px;
    background-color: rgb(218, 197, 171);
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    text-align: center;

}


#stacks {

    text-align: center;
    margin: auto;
    max-height: 250px;
    max-width: 250px;
}

/* VIDA Y MANA */

.vida {
    position: fixed;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(173, 168, 226);
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);

}

.vida::after {
    
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgb(41, 67, 212);
    border-radius: 45%;
    animation: rotate 3s linear forwards infinite;

}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.mana {

    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(173, 168, 226);
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);

}

.mana::after {

    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgb(212, 41, 41);
    /* box-shadow: 0 0 0px rgb(255, 255, 255); */
    border-radius: 45%;
    animation: rotate 3s linear forwards infinite;

}

@keyframes rotate {

    to {
        transform: rotate(360deg);
    }

}

#botonVP {

    border: black 1px solid;
    padding: 5%;
    font-size: 7px;
    margin-top: 100%;
}

footer{
    background-color: #eed09d;
}