@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/************** MEDIEVAL WARRIOR *************/
/* https://www.freesoundeffects.com/cat/impacts-181/ */
@font-face {
    font-family: Letratop;
    src: url(LetraMedieval.ttf);
}

* {
    font-family: Letratop;
}

.cartaMedieval {
    
    height: 440px;
    width: 400px;
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    margin-left: 10%;
    margin-top: 10%;

}

.textoGuerrero {
    
    text-align: center;
    background-color: white;

}

.botonGuerrero {
    height: 30px;
    width: 400px;
    background-color: rgb(122, 114, 40);
    color: rgb(255, 255, 255);

}

.cartaMedieval:hover {
    background-color: rgb(54, 103, 194);
    color: rgb(54, 103, 194);
}

.MedievalWarriorParado {

    margin: auto;
    zoom: 180%;
    position: relative;
    height: 137px;
    width: calc(1104px/6);
    background: url(assets/Medieval_Warrior/MedievalWarrior_PARADO.png);
    animation: MedievalWarriorANDAR 0.7s steps(6) infinite;
}

@keyframes MedievalWarriorANDAR {

    from {

        background-position: 0;
    }

    to {

        background-position: -1104px;

    }
}

.MedievalWarriorCorriendo {
    margin: auto;
    zoom: 180%;
    position: relative;

    height: 137px;
    width: calc(1472px/8);
    background: url(assets/Medieval_Warrior/MedievalWarrior_CORRER.png);
    animation: MedievalWarriorCorriendo 0.7s steps(8) infinite;
}

@keyframes MedievalWarriorCorriendo {

    from {

        background-position: 0;
    }

    to {

        background-position: -1472px;

    }
}

.MedievalWarriorAtacando {
    margin: auto;
    zoom: 180%;
    position: relative;

    height: 137px;
    width: calc(736px/4);
    background: url(assets/Medieval_Warrior/MedievalWarrior_ATACAR.png);
    animation: MedievalWarriorAtacando 0.7s steps(4) infinite;
}

@keyframes MedievalWarriorAtacando {

    from {

        background-position: 0;
    }

    to {

        background-position: 736px;

    }
}

/************** MINOTAURO *************/

.minotauroAtacando {
    margin-left: 40%;
    zoom: 180%;

    filter: brightness(1.1);
    mix-blend-mode: multiply;
    position: relative;
    height: 70px;
    width: calc(854px/9);
    background: url(assets/Minotauro/MinotaurO_ATACAR.png);
    animation: MinoTauroAtacando 1s steps(9) infinite;
}

@keyframes MinoTauroAtacando {

    from {

        background-position: 0;
    }

    to {

        background-position: -865px;

    }
}

.minotauroCorriendo {
    zoom: 180%;
    margin-left: 40%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    position: relative;

    height: 70px;
    width: calc(474px/5);
    background: url(assets/Minotauro/Minotauro_ANDAR.png);
    animation: minoTauroCorriendo 0.5s steps(5) infinite;
}

@keyframes minoTauroCorriendo {

    from {

        background-position: 0;
    }

    to {

        background-position: -480px;

    }
}


.minotauroParado {
    zoom: 180%;
    margin-left: 40%;
    margin-top: -6%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    position: relative;

    height: 67px;
    width: calc(474px/5);
    background: url(assets/Minotauro/Minotauro_PARADO.png);
    animation: MinotauroParado 0.7s steps(5) infinite;
}

@keyframes MinotauroParado {

    from {

        background-position: 0;
    }

    to {

        background-position: -480px;

    }
}

/* FOOTER */
.tituloImagen1 {
    display: flex;
    float: left;


}

.tituloImagen2 {

    float: right;

}

.tituloTexto {


    text-align: center;
    font-family: Letratop;
    font-size: 60px;

}
